#topwin {
  -moz-appearance: none;
  background-color:#000;
  overflow:hidden;
  margin:0;
}
#canvas {
  position:fixed;
  background-color:#000;
}
#box3 {
  position:fixed;
  top:-100px;
  background:#fff;
}
#input_proxy {
  -moz-appearance:none;
  position:fixed;
  opacity:.9;
  background-color:-moz-field;
  color:-moz-fieldtext;
  border:none;
  padding:0;
  margin:0;
}

#linkhover {
  position:fixed;
  display:none;
  opacity:.6;
  background-color:Highlight;
  color:HighlightText;
  padding:0;
  margin:0;
}
