#topwin {}
#canvas {}
#box3 {position:fixed; top:-100px;}
#input_proxy {-moz-appearance:none; position:fixed; border:none; opacity:.9; background-color:-moz-field; color:-moz-fieldtext; padding:0; margin:0;}